# Python and algorithms

In [ ]:
##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string:

<div style="text-align: right">1 point</div>

In [5]:
def str_to_dict(some_str):  
    result = {}
    for char in some_str:
        count = some_str.count(char)
        result[char] = count
    return result

In [6]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):

<div style="text-align: right">1 point

In [7]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
    numbers_as_set = set(numbers)
    numbers_as_set.remove(min(numbers_as_set))
    return min(numbers_as_set)

In [8]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

Sec_smallest: -2

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n:

<div style="text-align: right">1 point</div>

In [3]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    prime_numbers = list()
    if n >=2:
        prime_numbers.append(2)
    else:
        return 0
    for outer_number in range(0, n):
        is_prime = False
        if outer_number > 1:
            for inner_number in range(min(prime_numbers), outer_number):
                if(outer_number % inner_number) == 0:
                    is_prime = False
                    break
                else:
                    is_prime = True
        if is_prime:
            prime_numbers.append(outer_number)
    return prime_numbers

In [4]:
print('Prime numbers:', prime_nums(30))

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

**4. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements:**

<div style="text-align: right">1 point</div>

In [5]:
def max_sum_index(tuples):  
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    avg_values = dict()
    for single_tuple in tuples:
        avg_in_tuple = (sum(single_tuple)/len(single_tuple))
        avg_values[tuples.index(single_tuple)] = avg_in_tuple
    return f'Index: {max(avg_values, key=avg_values.get)}'

In [6]:
print(max_sum_index([(10, 20), (40, 32), (30, 25)]))

Index: 1

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>

**5. Implement function gcd(x, y), which returns the greatest common divisor of n and m.**
<div style="text-align: right">1 point</div>

In [7]:
def gcd(x, y):   
    '''
    :params m,n: int
    :return: int
    '''
    gcdx_values = set()
    gcdy_values = set()
    max_common = 0
    for n in range(1, x):
        if x % n == 0:
            gcdx_values.add(n)
    for m in range(1, y):
        if y % m == 0:
            gcdy_values.add(m)

    for common_division in gcdx_values:
        if(common_division in gcdy_values):
            if(common_division > max_common):
                max_common = common_division
    return f'GCD: {max_common}'

In [8]:
print(gcd(160, 180))

GCD: 20

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

#### 6. Implement recursive sum of the list:
<div style="text-align: right">1 point</div>

In [1]:
def recursive_list_sum(data_list):
    """
    :param data_list: list[list]
    """
    total_sum = 0
    for list_part in data_list:
        if(type(list_part) is type(list())):
            total_sum += recursive_list_sum(list_part)
        else:
            total_sum += list_part
    return total_sum

In [2]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3, 4], [5, 6], [7, 8, 9, [10]]]))

The sum of a list is  55

Expected Output:
<table>
  <tr>
    <td>The sum of a list is 55</td> 
  </tr>

#### 7. Implement decorator which returns function signature and it's return value:
<div style="text-align: right">1 point</div>

In [3]:
def debug(func):
    """
    :param func: function
    """
    def wrapper(*args, **kwargs):
        print(f'{func.__name__}{args} was called and returned {func(*args, **kwargs)}')
    return wrapper

In [4]:
@debug
def add(a, b):
    return a + b

add(3, 4)

add(3, 4) was called and returned 7

Expected Output:
<table>
  <tr>
    <td>add(3, 4) was called and returned 7</td>
  </tr>

#### 8. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals:

<div style="text-align: right">2 points</div>

In [5]:
class Conv:
    def __init__(self):
        self.val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        self.syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        
    def to_roman(self, num):    
        """
        :param self:
        :param n: int
        :return: str    
        """
        first_part_index = 0
        first_part = 0
        for val_item in self.val:
            if val_item - num < 0 and val_item > first_part:
                first_part = val_item
                first_part_index = self.val.index(val_item)
        second_part = num - first_part
        second_part_index = self.val.index(second_part)
        return f'{self.syb[first_part_index]}{self.syb[second_part_index]}'

In [6]:
print('Converted:', Conv().to_roman(44))

Converted: XLIV

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 9. Implement class CombinationsList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element and in order, law of which can be discrovered from the expected output:
<div style="text-align: right">3 points</div>

In [4]:
import itertools

class CombinationsList:
    @staticmethod
    def get_combinations(my_list):
        """
        :param self:
        :param my_list: list
        :return: list[list]
        """
        elements_count = len(my_list)
        result_list = list()
        for i in range(0, elements_count + 1):
            result_list += map(list, itertools.combinations(my_list, i))
        return result_list

In [5]:
print('Combinations:', CombinationsList().get_combinations([1, 'a', 2]))

Combinations: [[], [1], ['a'], [2], [1, 'a'], [1, 2], ['a', 2], [1, 'a', 2]]

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], ['a'], [2], [1, 'a'], [1, 2], ['a', 2], [1, 'a', 2]]</td> 
  </tr>

#### 10. Create base class <code>Rocket</code> and it's subclass <code>Shuttle</code>. The parent class contains methods <code>getMission()</code>, <code>addMission()</code> and <code>getName()</code>. The subclass <code>Shuttle</code> contains method <code>getDescription()</code>. Notice that we have not defined <code>getName()</code>, <code>getMission()</code>, <code>addMission()</code> in the <code>Shuttle</code> class but we are still able to access them, because the class <code>Shuttle</code> inherits them from the <code>Rocket</code> class. Use <code>super()</code> method to have ability to call those methods of the base class.
<div style="text-align: right">3 points</div>

In [6]:
class Rocket:

    def __init__(self, name, mission):
        """
        :param name: str
        :param mission: str or list
        """
        # attributes are private to class Rocket
        self.__name = name
        self.__mission = [mission]

    def getMission(self): 
        """
        : return str or list
        """
        return self.__mission

    def addMission(self, mission): 
        # procedure method which adds a new mission. There can be one (str) or multiple (list) existing missions
        """
        : param mission: str
        """
        self.__mission.append(mission)

    def getName(self):
        """
        : return str
        """
        return self.__name

    
class Shuttle(Rocket):

    def __init__(self, name, mission, model):
        # call parent constructor to set name and mission  
        """
        :param name: str
        :param mission: str or list
        : param model: str
        """
        super().__init__(name, mission)
        self.__model = model

    def getDescription(self):
        return 'Name: {0}\nModel: {1}\nMissions: {2}'.format(self.getName(), self.__model, str(self.getMission()))

In [7]:
dragon = Shuttle("Crew Dragon", "Dragon 2 pad abort test", "V2")
print(dragon.getDescription(), '\n')
dragon.addMission('Dragon 2 in-flight abort test')
print(dragon.getDescription())

Name: Crew Dragon
Model: V2
Missions: ['Dragon 2 pad abort test']

Name: Crew Dragon
Model: V2
Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']

Expected Output: 

                Name: Crew Dragon
                Model: V2
                Missions: Dragon 2 pad abort test
                
                Name: Crew Dragon
                Model: V2
                Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']